{% extends 'pm/base.html' %}


{% block head %}
<script>
    $(function () {
        $('.date').find("input").datepicker({
            dateFormat: "yy-mm-dd",
            startDate: "01-01-2015",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label>

                            {% if "date" in field.label_tag|lower %}
                                <div class="col-sm-10 date">{{ field }}</div>
                            {% else %}
                                <div class="col-sm-10">{{ field }} </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}