{% extends 'pm/index.html' %}


{% block title %}Group: {{ object.name }}{% endblock %}

{% block head %}
<script>
    function get_token(account_id) {
        $.get("{% url 'pm:get-token' %}", {acc_id: account_id}, function(data){
            var token = prompt("Use CTRL-C to copy the password 111", data);
    //         var msg = "init"
    //         // $("#textarea").val(data)
    //         var textarea = document.getElementById("textarea");
    //         textarea.select();
    //         try {
    //             var successful = document.execCommand('copy');
    //             if (successful) 
    //                 msg = 'Copied!';
    //             else 
    //                 msg = 'Unable to copy!';
    //         } catch (err) {
    //             msg = 'Unsupported Browser!';
    //         }
    //         alert(msg);
        });        
    }

    $(function () {
        $('#txt_exp_date').datepicker({
            dateFormat: "yy-mm-dd",
            startDate: "01-01-2015",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
        });
    });

</script>
{% endblock %}

{% block body %}
<h1>{{ object.name }}</h1>
<h3>Created in: {{ object.date_create }}</h3>
<table class="table table-hover">
    <tr>
        <th>Type</th>
        <th>Account</th>
        <th>Date Created</th>
        <th>Remark</th>
        <th>Details</th>
        <th>Fast Copy</th>
        <th>Delete</th>
    </tr>
    {% for account in object.account_set.all %}
        <tr>
            <td>{{ account.type }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.date_create }}</td>
            <td>{{ account.remark }}</td>
            <td><button id="edit_acc_{{account.id}}" class="edit-acc btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button></td>
            <td><button class="btn btn-info" onclick="get_token('{{ account.id }}')">Copy</button></td>
            <td><button id="del_acc_{{account.id}}" class="del_acc btn btn-default" data-toggle="modal" data-target="#deleteModal">&#10006;</button></td>
        </tr>
    {% endfor %}
</table>

<button id="button_create_account" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Create New Account</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding a new account to {{ object.name }} </h4>
            </div>
            <div class="modal-body">
                {% include 'pm/form_account.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal for delete account -->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete account to {{ object.name }} </h4>
            </div>
            <div class="modal-body">
                {% include 'pm/form_delete.html' %}
            </div>
        </div>
    </div>
</div>

<!-- <textarea id="textarea" rows="6" cols="40">text to be copied</textarea> -->

{% endblock %}

{% block js %}
<script>

$(".del_acc").click(function() {
    
    var attr_id = $(this).attr('id').match(/\d+/)[0];
    $("#frm_del_acc").val(attr_id);
    $("#frm_del_user").val("{{ user_id }}");
    
    // alert("Are you sure to delete this record (" + attr_id + " + ) ?")
    //var action_url = "{% url 'pm:account-update' 12345 %}".replace("12345", attr_id)
    //$('#account_form').attr('action', action_url);
});

$("#gen_token").click(function() {
    var token_length = parseInt($("#pw_length").val());
    var token_level = parseInt($("#token_level").val());
    var random_token = get_random_token(token_level, token_length);
    $("#txt_token").val(random_token);
});

$("#button_create_account").click(function() {
    $("#txt_acc_type").val("");
    $("#txt_acc").val("");
    $("#txt_token").val("");
    $("#txt_exp_date").val("");
    $("#txt_remark").val("");


    $('#account_form').attr('action', "{% url 'pm:account-create' %}");
    $("#submit_account").val("Create");
});

$(".edit-acc").click(function() {
    var attr_id = $(this).attr('id').match(/\d+/)[0];
    var action_url = "{% url 'pm:account-update' 12345 %}".replace("12345", attr_id)
    $('#account_form').attr('action', action_url);

    $.get("{% url 'pm:account-details' %}", {acc_id: attr_id}, function(data){
        data = JSON.parse(data);
        $("#txt_acc_type").val(data["acc_type"]);
        $("#txt_acc").val(data["acc_name"]);
        $("#txt_token").val(data["acc_token"]);
        $("#txt_exp_date").val(data["acc_exp_date"]);
        $("#txt_remark").val(data["acc_remark"]);
        $("#submit_account").val("Update");
    });
});

</script>

{% endblock %}


