 <!--# import base.html -->
{% extends 'music/base.html' %}
    {% block title %}Album Details{% endblock %}
 {% block body %}
    <img src="{{ album.album_logo }}">

    <h1>{{ album.title }}</h1>
    <h2>{{ album.artist }}</h2>


    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
        <label for="{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" />
            {% endif %}
        </label><br>
    {% endfor %}

  {% endblock %}